In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('employees.csv')
df = pd.read_csv("employees.csv", usecols=['EMPLOYEE_ID','MANAGER_ID','DEPARTMENT_ID'])

In [2]:
from sklearn.impute import SimpleImputer
imputer =SimpleImputer(missing_values=np.nan,strategy='mean')
imputer = imputer.fit(df[['DEPARTMENT_ID']])
df[['DEPARTMENT_ID']] = imputer.transform(df[['DEPARTMENT_ID']])
df

    EMPLOYEE_ID  MANAGER_ID  DEPARTMENT_ID
0           198       124.0           50.0
1           199       124.0           50.0
2           200       101.0           10.0
3           201       100.0           20.0
4           202       201.0           20.0
5           203       101.0           40.0
6           204       101.0           70.0
7           205       101.0          110.0
8           206       205.0          110.0
9           100         NaN           90.0
10          101       100.0           90.0
11          102       100.0           90.0
12          103       102.0           60.0
13          104       103.0           60.0
14          105       103.0           60.0
15          106       103.0           57.5
16          107       103.0           57.5
17          108       101.0          100.0
18          109       108.0          100.0
19          110       108.0          100.0
20          111       108.0          100.0
21          112       108.0          100.0
22          113       108.0          100.0
23          114       100.0           30.0
24          115       114.0           30.0
25          116       114.0           30.0
26          117       114.0           30.0
27          118       114.0           30.0
28          119       114.0           30.0
29          120       100.0           50.0
30          121       100.0           50.0
31          122       100.0           50.0
32          123       100.0           50.0
33          124       100.0           50.0
34          125       120.0           50.0
35          126       120.0           50.0
36          127       120.0           50.0
37          128       120.0           50.0
38          129       121.0           50.0
39          130       121.0           50.0
40          131       121.0           50.0
41          132       121.0           50.0
42          133       122.0           50.0
43          134       122.0           50.0
44          135       122.0           50.0
45          136       122.0           50.0
46          137       123.0           50.0
47          138       123.0           50.0
48          139       123.0           50.0
49          140       123.0           50.0

In [3]:
from sklearn.impute import SimpleImputer
imputer =SimpleImputer(missing_values=np.nan,strategy='median')
imputer = imputer.fit(df[['MANAGER_ID']])
df[['MANAGER_ID']] = imputer.transform(df[['MANAGER_ID']])
df

    EMPLOYEE_ID  MANAGER_ID  DEPARTMENT_ID
0           198       124.0           50.0
1           199       124.0           50.0
2           200       101.0           10.0
3           201       100.0           20.0
4           202       201.0           20.0
5           203       101.0           40.0
6           204       101.0           70.0
7           205       101.0          110.0
8           206       205.0          110.0
9           100       114.0           90.0
10          101       100.0           90.0
11          102       100.0           90.0
12          103       102.0           60.0
13          104       103.0           60.0
14          105       103.0           60.0
15          106       103.0           57.5
16          107       103.0           57.5
17          108       101.0          100.0
18          109       108.0          100.0
19          110       108.0          100.0
20          111       108.0          100.0
21          112       108.0          100.0
22          113       108.0          100.0
23          114       100.0           30.0
24          115       114.0           30.0
25          116       114.0           30.0
26          117       114.0           30.0
27          118       114.0           30.0
28          119       114.0           30.0
29          120       100.0           50.0
30          121       100.0           50.0
31          122       100.0           50.0
32          123       100.0           50.0
33          124       100.0           50.0
34          125       120.0           50.0
35          126       120.0           50.0
36          127       120.0           50.0
37          128       120.0           50.0
38          129       121.0           50.0
39          130       121.0           50.0
40          131       121.0           50.0
41          132       121.0           50.0
42          133       122.0           50.0
43          134       122.0           50.0
44          135       122.0           50.0
45          136       122.0           50.0
46          137       123.0           50.0
47          138       123.0           50.0
48          139       123.0           50.0
49          140       123.0           50.0

In [4]:
from sklearn.impute import SimpleImputer
imputer =SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imputer = imputer.fit(df[['DEPARTMENT_ID']])
df[['DEPARTMENT_ID']] = imputer.transform(df[['DEPARTMENT_ID']])
df

    EMPLOYEE_ID  MANAGER_ID  DEPARTMENT_ID
0           198       124.0           50.0
1           199       124.0           50.0
2           200       101.0           10.0
3           201       100.0           20.0
4           202       201.0           20.0
5           203       101.0           40.0
6           204       101.0           70.0
7           205       101.0          110.0
8           206       205.0          110.0
9           100       114.0           90.0
10          101       100.0           90.0
11          102       100.0           90.0
12          103       102.0           60.0
13          104       103.0           60.0
14          105       103.0           60.0
15          106       103.0           57.5
16          107       103.0           57.5
17          108       101.0          100.0
18          109       108.0          100.0
19          110       108.0          100.0
20          111       108.0          100.0
21          112       108.0          100.0
22          113       108.0          100.0
23          114       100.0           30.0
24          115       114.0           30.0
25          116       114.0           30.0
26          117       114.0           30.0
27          118       114.0           30.0
28          119       114.0           30.0
29          120       100.0           50.0
30          121       100.0           50.0
31          122       100.0           50.0
32          123       100.0           50.0
33          124       100.0           50.0
34          125       120.0           50.0
35          126       120.0           50.0
36          127       120.0           50.0
37          128       120.0           50.0
38          129       121.0           50.0
39          130       121.0           50.0
40          131       121.0           50.0
41          132       121.0           50.0
42          133       122.0           50.0
43          134       122.0           50.0
44          135       122.0           50.0
45          136       122.0           50.0
46          137       123.0           50.0
47          138       123.0           50.0
48          139       123.0           50.0
49          140       123.0           50.0

In [5]:
#2
hotEncoding=pd.get_dummies(df,columns=["MANAGER_ID"])
hotEncoding.head()

,EMPLOYEE_ID,DEPARTMENT_ID,MANAGER_ID_100.0,MANAGER_ID_101.0,MANAGER_ID_102.0,MANAGER_ID_103.0,MANAGER_ID_108.0,MANAGER_ID_114.0,MANAGER_ID_120.0,MANAGER_ID_121.0,MANAGER_ID_122.0,MANAGER_ID_123.0,MANAGER_ID_124.0,MANAGER_ID_201.0,MANAGER_ID_205.0
0,198,50.0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,199,50.0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,200,10.0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,201,20.0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,202,20.0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [6]:
#3
#L1 Norm
df=pd.read_csv('index.csv')
maximum=df["Weight"].max()
df["L1_Norm_Weight"]=df["Weight"]/maximum

In [7]:
#L2 Norm

summation=df["Weight"].sum()
df["L2_Norm_Weight"]=df["Weight"]/summation

In [8]:
#Max

squareSum=(df["Weight"]**2).sum()
df["Max_Norm_Weight"]=df["Weight"]/(np.sqrt(squareSum))

In [9]:
df

,Gender,Height,Weight,Index,L1_Norm_Weight,L2_Norm_Weight,Max_Norm_Weight
0,Male,174,96,4,0.60000,0.001811,0.038738
1,Male,189,87,2,0.54375,0.001642,0.035107
2,Female,185,110,4,0.68750,0.002075,0.044388
3,Female,195,104,3,0.65000,0.001962,0.041967
4,Male,149,61,3,0.38125,0.001151,0.024615
...,...,...,...,...,...,...,...
495,Female,150,153,5,0.95625,0.002887,0.061739
496,Female,184,121,4,0.75625,0.002283,0.048827
497,Female,141,136,5,0.85000,0.002566,0.054879
498,Male,150,95,5,0.59375,0.001792,0.038335
499,Male,173,131,5,0.81875,0.002472,0.052862