In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('employees.xls')

In [3]:
df.head(5)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,2007-06-21,SH_CLERK,2600.0,-,124.0,50.0
1,199,Douglas,Grant,DGRANT,650.507.9844,2008-01-13,SH_CLERK,2600.0,-,124.0,50.0
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,2003-09-17,AD_ASST,4400.0,-,101.0,10.0
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,2004-02-17,MK_MAN,13000.0,-,100.0,20.0
4,202,Pat,Fay,PFAY,603.123.6666,2005-08-17,MK_REP,6000.0,-,201.0,20.0

In [4]:
df.tail(5)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,2008-02-06,ST_CLERK,2200.0,-,122.0,50.0
46,137,Renske,Ladwig,RLADWIG,650.121.1234,2003-07-14,ST_CLERK,3600.0,-,123.0,50.0
47,138,Stephen,Stiles,SSTILES,650.121.2034,2005-10-26,ST_CLERK,3200.0,-,123.0,50.0
48,139,John,Seo,JSEO,650.121.2019,2006-02-12,ST_CLERK,2700.0,-,123.0,50.0
49,140,Joshua,Patel,JPATEL,650.121.1834,2006-04-06,ST_CLERK,NaN,-,123.0,50.0

In [5]:
df=df.drop(['COMMISSION_PCT'],axis=1)

In [6]:
df.shape

(50, 10)

In [7]:
df['SALARY'] = df['SALARY'].interpolate()

In [8]:
df.tail(5)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,2008-02-06,ST_CLERK,2200.0,122.0,50.0
46,137,Renske,Ladwig,RLADWIG,650.121.1234,2003-07-14,ST_CLERK,3600.0,123.0,50.0
47,138,Stephen,Stiles,SSTILES,650.121.2034,2005-10-26,ST_CLERK,3200.0,123.0,50.0
48,139,John,Seo,JSEO,650.121.2019,2006-02-12,ST_CLERK,2700.0,123.0,50.0
49,140,Joshua,Patel,JPATEL,650.121.1834,2006-04-06,ST_CLERK,2700.0,123.0,50.0

In [9]:
df = df[~df.MANAGER_ID.isnull()]

In [10]:
df.tail(10)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID
40,131,James,Marlow,JAMRLOW,650.124.7234,2005-02-16,ST_CLERK,2500.0,121.0,50.0
41,132,TJ,Olson,TJOLSON,650.124.8234,2007-04-10,ST_CLERK,2100.0,121.0,50.0
42,133,Jason,Mallin,JMALLIN,650.127.1934,2004-06-14,ST_CLERK,3300.0,122.0,50.0
43,134,Michael,Rogers,MROGERS,650.127.1834,2006-08-26,ST_CLERK,2900.0,122.0,50.0
44,135,Ki,Gee,KGEE,650.127.1734,2007-12-12,ST_CLERK,2400.0,122.0,50.0
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,2008-02-06,ST_CLERK,2200.0,122.0,50.0
46,137,Renske,Ladwig,RLADWIG,650.121.1234,2003-07-14,ST_CLERK,3600.0,123.0,50.0
47,138,Stephen,Stiles,SSTILES,650.121.2034,2005-10-26,ST_CLERK,3200.0,123.0,50.0
48,139,John,Seo,JSEO,650.121.2019,2006-02-12,ST_CLERK,2700.0,123.0,50.0
49,140,Joshua,Patel,JPATEL,650.121.1834,2006-04-06,ST_CLERK,2700.0,123.0,50.0

In [11]:
df.head(10)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,2007-06-21,SH_CLERK,2600.0,124.0,50.0
1,199,Douglas,Grant,DGRANT,650.507.9844,2008-01-13,SH_CLERK,2600.0,124.0,50.0
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,2003-09-17,AD_ASST,4400.0,101.0,10.0
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,2004-02-17,MK_MAN,13000.0,100.0,20.0
4,202,Pat,Fay,PFAY,603.123.6666,2005-08-17,MK_REP,6000.0,201.0,20.0
5,203,Susan,Mavris,SMAVRIS,515.123.7777,2002-06-07,HR_REP,6500.0,101.0,40.0
6,204,Hermann,Baer,HBAER,515.123.8888,2002-06-07,PR_REP,10000.0,101.0,70.0
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,2002-06-07,AC_MGR,12008.0,101.0,110.0
8,206,William,Gietz,WGIETZ,515.123.8181,2002-06-07,AC_ACCOUNT,8300.0,205.0,110.0
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000.0,100.0,90.0

In [12]:
df = df[~df.DEPARTMENT_ID.isnull()]

In [13]:
df.head(20)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,2007-06-21,SH_CLERK,2600.0,124.0,50.0
1,199,Douglas,Grant,DGRANT,650.507.9844,2008-01-13,SH_CLERK,2600.0,124.0,50.0
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,2003-09-17,AD_ASST,4400.0,101.0,10.0
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,2004-02-17,MK_MAN,13000.0,100.0,20.0
4,202,Pat,Fay,PFAY,603.123.6666,2005-08-17,MK_REP,6000.0,201.0,20.0
5,203,Susan,Mavris,SMAVRIS,515.123.7777,2002-06-07,HR_REP,6500.0,101.0,40.0
6,204,Hermann,Baer,HBAER,515.123.8888,2002-06-07,PR_REP,10000.0,101.0,70.0
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,2002-06-07,AC_MGR,12008.0,101.0,110.0
8,206,William,Gietz,WGIETZ,515.123.8181,2002-06-07,AC_ACCOUNT,8300.0,205.0,110.0
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000.0,100.0,90.0
11,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000.0,100.0,90.0
12,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,9000.0,102.0,60.0
13,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,6000.0,103.0,60.0
14,105,David,Austin,DAUSTIN,590.423.4569,2005-06-25,IT_PROG,4800.0,103.0,60.0
17,108,Nancy,Greenberg,NGREENBE,515.124.4569,2002-08-17,FI_MGR,12008.0,101.0,100.0
18,109,Daniel,Faviet,DFAVIET,515.124.4169,2002-08-16,FI_ACCOUNT,9000.0,108.0,100.0
19,110,John,Chen,JCHEN,515.124.4269,2005-09-28,FI_ACCOUNT,8200.0,108.0,100.0
20,111,Ismael,Sciarra,ISCIARRA,515.124.4369,2005-09-30,FI_ACCOUNT,7700.0,108.0,100.0
21,112,Jose Manuel,Urman,JMURMAN,515.124.4469,2006-03-07,FI_ACCOUNT,7800.0,108.0,100.0
22,113,Luis,Popp,LPOPP,515.124.4567,2007-12-07,FI_ACCOUNT,6900.0,108.0,100.0

In [14]:
from sklearn.preprocessing import minmax_scale
normalized_data=minmax_scale(df[['SALARY']],feature_range=(0,1))
df['SALARY (MIN_MAX_Normalized_SAL)']=normalized_data[:,0]

In [15]:
df.head(10)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID,SALARY (MIN_MAX_Normalized_SAL)
0,198,Donald,OConnell,DOCONNEL,650.507.9833,2007-06-21,SH_CLERK,2600.0,124.0,50.0,0.033557
1,199,Douglas,Grant,DGRANT,650.507.9844,2008-01-13,SH_CLERK,2600.0,124.0,50.0,0.033557
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,2003-09-17,AD_ASST,4400.0,101.0,10.0,0.154362
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,2004-02-17,MK_MAN,13000.0,100.0,20.0,0.731544
4,202,Pat,Fay,PFAY,603.123.6666,2005-08-17,MK_REP,6000.0,201.0,20.0,0.261745
5,203,Susan,Mavris,SMAVRIS,515.123.7777,2002-06-07,HR_REP,6500.0,101.0,40.0,0.295302
6,204,Hermann,Baer,HBAER,515.123.8888,2002-06-07,PR_REP,10000.0,101.0,70.0,0.530201
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,2002-06-07,AC_MGR,12008.0,101.0,110.0,0.664966
8,206,William,Gietz,WGIETZ,515.123.8181,2002-06-07,AC_ACCOUNT,8300.0,205.0,110.0,0.416107
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000.0,100.0,90.0,1.000000

In [16]:
df=df.drop(['SALARY'],axis=1)

In [17]:
df.head(10)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,MANAGER_ID,DEPARTMENT_ID,SALARY (MIN_MAX_Normalized_SAL)
0,198,Donald,OConnell,DOCONNEL,650.507.9833,2007-06-21,SH_CLERK,124.0,50.0,0.033557
1,199,Douglas,Grant,DGRANT,650.507.9844,2008-01-13,SH_CLERK,124.0,50.0,0.033557
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,2003-09-17,AD_ASST,101.0,10.0,0.154362
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,2004-02-17,MK_MAN,100.0,20.0,0.731544
4,202,Pat,Fay,PFAY,603.123.6666,2005-08-17,MK_REP,201.0,20.0,0.261745
5,203,Susan,Mavris,SMAVRIS,515.123.7777,2002-06-07,HR_REP,101.0,40.0,0.295302
6,204,Hermann,Baer,HBAER,515.123.8888,2002-06-07,PR_REP,101.0,70.0,0.530201
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,2002-06-07,AC_MGR,101.0,110.0,0.664966
8,206,William,Gietz,WGIETZ,515.123.8181,2002-06-07,AC_ACCOUNT,205.0,110.0,0.416107
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,100.0,90.0,1.000000

In [18]:
import scipy.stats as stats
df['MANAGER_ID (Z-SCORE NORM)']=df.loc[:,'MANAGER_ID']
df['MANAGER_ID (Z-SCORE NORM)']=stats.zscore(df[['MANAGER_ID (Z-SCORE NORM)']])
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,MANAGER_ID,DEPARTMENT_ID,SALARY (MIN_MAX_Normalized_SAL),MANAGER_ID (Z-SCORE NORM)
0,198,Donald,OConnell,DOCONNEL,650.507.9833,2007-06-21,SH_CLERK,124.0,50.0,0.033557,0.419154
1,199,Douglas,Grant,DGRANT,650.507.9844,2008-01-13,SH_CLERK,124.0,50.0,0.033557,0.419154
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,2003-09-17,AD_ASST,101.0,10.0,0.154362,-0.694128
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,2004-02-17,MK_MAN,100.0,20.0,0.731544,-0.742532
4,202,Pat,Fay,PFAY,603.123.6666,2005-08-17,MK_REP,201.0,20.0,0.261745,4.146230
5,203,Susan,Mavris,SMAVRIS,515.123.7777,2002-06-07,HR_REP,101.0,40.0,0.295302,-0.694128
6,204,Hermann,Baer,HBAER,515.123.8888,2002-06-07,PR_REP,101.0,70.0,0.530201,-0.694128
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,2002-06-07,AC_MGR,101.0,110.0,0.664966,-0.694128
8,206,William,Gietz,WGIETZ,515.123.8181,2002-06-07,AC_ACCOUNT,205.0,110.0,0.416107,4.339844
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,100.0,90.0,1.000000,-0.742532
11,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,100.0,90.0,1.000000,-0.742532
12,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,102.0,60.0,0.463087,-0.645724
13,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,103.0,60.0,0.261745,-0.597321
14,105,David,Austin,DAUSTIN,590.423.4569,2005-06-25,IT_PROG,103.0,60.0,0.181208,-0.597321
17,108,Nancy,Greenberg,NGREENBE,515.124.4569,2002-08-17,FI_MGR,101.0,100.0,0.664966,-0.694128
18,109,Daniel,Faviet,DFAVIET,515.124.4169,2002-08-16,FI_ACCOUNT,108.0,100.0,0.463087,-0.355303
19,110,John,Chen,JCHEN,515.124.4269,2005-09-28,FI_ACCOUNT,108.0,100.0,0.409396,-0.355303
20,111,Ismael,Sciarra,ISCIARRA,515.124.4369,2005-09-30,FI_ACCOUNT,108.0,100.0,0.375839,-0.355303
21,112,Jose Manuel,Urman,JMURMAN,515.124.4469,2006-03-07,FI_ACCOUNT,108.0,100.0,0.382550,-0.355303
22,113,Luis,Popp,LPOPP,515.124.4567,2007-12-07,FI_ACCOUNT,108.0,100.0,0.322148,-0.355303
23,114,Den,Raphaely,DRAPHEAL,515.127.4561,2002-12-07,PU_MAN,100.0,30.0,0.597315,-0.742532
24,115,Alexander,Khoo,AKHOO,515.127.4562,2003-05-18,PU_CLERK,114.0,30.0,0.067114,-0.064881
25,116,Shelli,Baida,SBAIDA,515.127.4563,2005-12-24,PU_CLERK,114.0,30.0,0.053691,-0.064881
26,117,Sigal,Tobias,STOBIAS,515.127.4564,2005-07-24,PU_CLERK,114.0,30.0,0.046980,-0.064881
27,118,Guy,Himuro,GHIMURO,515.127.4565,2006-11-15,PU_CLERK,114.0,30.0,0.033557,-0.064881
28,119,Karen,Colmenares,KCOLMENA,515.127.4566,2007-08-10,PU_CLERK,114.0,30.0,0.026846,-0.064881
29,120,Matthew,Weiss,MWEISS,650.123.1234,2004-07-18,ST_MAN,100.0,50.0,0.395973,-0.742532
30,121,Adam,Fripp,AFRIPP,650.123.2234,2005-04-10,ST_MAN,100.0,50.0,0.409396,-0.742532
31,122,Payam,Kaufling,PKAUFLIN,650.123.3234,2003-05-01,ST_MAN,100.0,50.0,0.389262,-0.742532
32,123,Shanta,Vollman,SVOLLMAN,650.123.4234,2005-10-10,ST_MAN,100.0,50.0,0.295302,-0.742532
33,124,Kevin,Mourgos,KMOURGOS,650.123.5234,2007-11-16,ST_MAN,100.0,50.0,0.248322,-0.742532
34,125,Julia,Nayer,JNAYER,650.124.1214,2005-07-16,ST_CLERK,120.0,50.0,0.073826,0.225540
35,126,Irene,Mikkilineni,IMIKKILI,650.124.1224,2006-09-28,ST_CLERK,120.0,50.0,0.040268,0.225540
36,127,James,Landry,JLANDRY,650.124.1334,2007-01-14,ST_CLERK,120.0,50.0,0.020134,0.225540
37,128,Steven,Markle,SMARKLE,650.124.1434,2008-03-08,ST_CLERK,120.0,50.0,0.006711,0.225540
38,129,Laura,Bissot,LBISSOT,650.124.5234,2005-08-20,ST_CLERK,121.0,50.0,0.080537,0.273944
39,130,Mozhe,Atkinson,MATKINSO,650.124.6234,2005-10-30,ST_CLERK,121.0,50.0,0.046980,0.273944
40,131,James,Marlow,JAMRLOW,650.124.7234,2005-02-16,ST_CLERK,121.0,50.0,0.026846,0.273944
41,132,TJ,Olson,TJOLSON,650.124.8234,2007-04-10,ST_CLERK,121.0,50.0,0.000000,0.273944
42,133,Jason,Mallin,JMALLIN,650.127.1934,2004-06-14,ST_CLERK,122.0,50.0,0.080537,0.322347
43,134,Michael,Rogers,MROGERS,650.127.1834,2006-08-26,ST_CLERK,122.0,50.0,0.053691,0.322347
44,135,Ki,Gee,KGEE,650.127.1734,2007-12-12,ST_CLERK,122.0,50.0,0.020134,0.322347
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,2008-02-06,ST_CLERK,122.0,50.0,0.006711,0.322347
46,137,Renske,Ladwig,RLADWIG,650.121.1234,2003-07-14,ST_CLERK,123.0,50.0,0.100671,0.370751
47,138,Stephen,Stiles,SSTILES,650.121.2034,2005-10-26,ST_CLERK,123.0,50.0,0.073826,0.370751
48,139,John,Seo,JSEO,650.121.2019,2006-02-12,ST_CLERK,123.0,50.0,0.040268,0.370751
49,140,Joshua,Patel,JPATEL,650.121.1834,2006-04-06,ST_CLERK,123.0,50.0,0.040268,0.370751

In [19]:
def Dec_scale(df):
    for x in df:
        p = df[x].max()
        q = len(str(abs(p)))
        df[x] = df[x]/10**q 
        df('SALARY(decimal no.)',axis=1)
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,MANAGER_ID,DEPARTMENT_ID,SALARY (MIN_MAX_Normalized_SAL),MANAGER_ID (Z-SCORE NORM)
0,198,Donald,OConnell,DOCONNEL,650.507.9833,2007-06-21,SH_CLERK,124.0,50.0,0.033557,0.419154
1,199,Douglas,Grant,DGRANT,650.507.9844,2008-01-13,SH_CLERK,124.0,50.0,0.033557,0.419154
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,2003-09-17,AD_ASST,101.0,10.0,0.154362,-0.694128
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,2004-02-17,MK_MAN,100.0,20.0,0.731544,-0.742532
4,202,Pat,Fay,PFAY,603.123.6666,2005-08-17,MK_REP,201.0,20.0,0.261745,4.146230
5,203,Susan,Mavris,SMAVRIS,515.123.7777,2002-06-07,HR_REP,101.0,40.0,0.295302,-0.694128
6,204,Hermann,Baer,HBAER,515.123.8888,2002-06-07,PR_REP,101.0,70.0,0.530201,-0.694128
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,2002-06-07,AC_MGR,101.0,110.0,0.664966,-0.694128
8,206,William,Gietz,WGIETZ,515.123.8181,2002-06-07,AC_ACCOUNT,205.0,110.0,0.416107,4.339844
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,100.0,90.0,1.000000,-0.742532
11,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,100.0,90.0,1.000000,-0.742532
12,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,102.0,60.0,0.463087,-0.645724
13,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,103.0,60.0,0.261745,-0.597321
14,105,David,Austin,DAUSTIN,590.423.4569,2005-06-25,IT_PROG,103.0,60.0,0.181208,-0.597321
17,108,Nancy,Greenberg,NGREENBE,515.124.4569,2002-08-17,FI_MGR,101.0,100.0,0.664966,-0.694128
18,109,Daniel,Faviet,DFAVIET,515.124.4169,2002-08-16,FI_ACCOUNT,108.0,100.0,0.463087,-0.355303
19,110,John,Chen,JCHEN,515.124.4269,2005-09-28,FI_ACCOUNT,108.0,100.0,0.409396,-0.355303
20,111,Ismael,Sciarra,ISCIARRA,515.124.4369,2005-09-30,FI_ACCOUNT,108.0,100.0,0.375839,-0.355303
21,112,Jose Manuel,Urman,JMURMAN,515.124.4469,2006-03-07,FI_ACCOUNT,108.0,100.0,0.382550,-0.355303
22,113,Luis,Popp,LPOPP,515.124.4567,2007-12-07,FI_ACCOUNT,108.0,100.0,0.322148,-0.355303
23,114,Den,Raphaely,DRAPHEAL,515.127.4561,2002-12-07,PU_MAN,100.0,30.0,0.597315,-0.742532
24,115,Alexander,Khoo,AKHOO,515.127.4562,2003-05-18,PU_CLERK,114.0,30.0,0.067114,-0.064881
25,116,Shelli,Baida,SBAIDA,515.127.4563,2005-12-24,PU_CLERK,114.0,30.0,0.053691,-0.064881
26,117,Sigal,Tobias,STOBIAS,515.127.4564,2005-07-24,PU_CLERK,114.0,30.0,0.046980,-0.064881
27,118,Guy,Himuro,GHIMURO,515.127.4565,2006-11-15,PU_CLERK,114.0,30.0,0.033557,-0.064881
28,119,Karen,Colmenares,KCOLMENA,515.127.4566,2007-08-10,PU_CLERK,114.0,30.0,0.026846,-0.064881
29,120,Matthew,Weiss,MWEISS,650.123.1234,2004-07-18,ST_MAN,100.0,50.0,0.395973,-0.742532
30,121,Adam,Fripp,AFRIPP,650.123.2234,2005-04-10,ST_MAN,100.0,50.0,0.409396,-0.742532
31,122,Payam,Kaufling,PKAUFLIN,650.123.3234,2003-05-01,ST_MAN,100.0,50.0,0.389262,-0.742532
32,123,Shanta,Vollman,SVOLLMAN,650.123.4234,2005-10-10,ST_MAN,100.0,50.0,0.295302,-0.742532
33,124,Kevin,Mourgos,KMOURGOS,650.123.5234,2007-11-16,ST_MAN,100.0,50.0,0.248322,-0.742532
34,125,Julia,Nayer,JNAYER,650.124.1214,2005-07-16,ST_CLERK,120.0,50.0,0.073826,0.225540
35,126,Irene,Mikkilineni,IMIKKILI,650.124.1224,2006-09-28,ST_CLERK,120.0,50.0,0.040268,0.225540
36,127,James,Landry,JLANDRY,650.124.1334,2007-01-14,ST_CLERK,120.0,50.0,0.020134,0.225540
37,128,Steven,Markle,SMARKLE,650.124.1434,2008-03-08,ST_CLERK,120.0,50.0,0.006711,0.225540
38,129,Laura,Bissot,LBISSOT,650.124.5234,2005-08-20,ST_CLERK,121.0,50.0,0.080537,0.273944
39,130,Mozhe,Atkinson,MATKINSO,650.124.6234,2005-10-30,ST_CLERK,121.0,50.0,0.046980,0.273944
40,131,James,Marlow,JAMRLOW,650.124.7234,2005-02-16,ST_CLERK,121.0,50.0,0.026846,0.273944
41,132,TJ,Olson,TJOLSON,650.124.8234,2007-04-10,ST_CLERK,121.0,50.0,0.000000,0.273944
42,133,Jason,Mallin,JMALLIN,650.127.1934,2004-06-14,ST_CLERK,122.0,50.0,0.080537,0.322347
43,134,Michael,Rogers,MROGERS,650.127.1834,2006-08-26,ST_CLERK,122.0,50.0,0.053691,0.322347
44,135,Ki,Gee,KGEE,650.127.1734,2007-12-12,ST_CLERK,122.0,50.0,0.020134,0.322347
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,2008-02-06,ST_CLERK,122.0,50.0,0.006711,0.322347
46,137,Renske,Ladwig,RLADWIG,650.121.1234,2003-07-14,ST_CLERK,123.0,50.0,0.100671,0.370751
47,138,Stephen,Stiles,SSTILES,650.121.2034,2005-10-26,ST_CLERK,123.0,50.0,0.073826,0.370751
48,139,John,Seo,JSEO,650.121.2019,2006-02-12,ST_CLERK,123.0,50.0,0.040268,0.370751
49,140,Joshua,Patel,JPATEL,650.121.1834,2006-04-06,ST_CLERK,123.0,50.0,0.040268,0.370751

In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('dataframe.csv')

In [22]:
print('no. of rows',df.shape[0])

no. of rows 99259

In [23]:
print('no. of columns',df.shape[0])

no. of columns 99259

In [24]:
df.isnull().sum()

encounter_id              0
patient_nbr               0
race                      0
gender                    0
age                       0
weight                    0
admission_type_id         0
time_in_hospital          0
payer_code                0
medical_specialty         0
num_lab_procedures        0
num_procedures            0
num_medications           0
number_outpatient         0
number_emergency          0
number_inpatient          0
max_glu_serum             0
OnAdmit_glucose         362
A1Cresult                 0
insulin                   0
med_change                0
diabetesMed               0
readmitted                0
education              2457
currentSmoker             0
cigsPerDay              687
BPMeds                 1242
prevalentStroke           0
prevalentHyp              0
TenYearCHD            10188
OnAdmit_totChol          47
OnAdmit_sysBP             0
OnAdmit_diaBP             0
OnAdmit_BMI              18
OnAdmit_heartRate         1
dtype: int64

In [25]:
df[["education"]].describe()

          education
count  96802.000000
mean       1.980145
std        1.020152
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        4.000000

In [26]:
df.isnull()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,time_in_hospital,payer_code,medical_specialty,...,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,TenYearCHD,OnAdmit_totChol,OnAdmit_sysBP,OnAdmit_diaBP,OnAdmit_BMI,OnAdmit_heartRate
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99254,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99255,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
99256,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99257,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99258,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [27]:
df.isnull().any()

encounter_id          False
patient_nbr           False
race                  False
gender                False
age                   False
weight                False
admission_type_id     False
time_in_hospital      False
payer_code            False
medical_specialty     False
num_lab_procedures    False
num_procedures        False
num_medications       False
number_outpatient     False
number_emergency      False
number_inpatient      False
max_glu_serum         False
OnAdmit_glucose        True
A1Cresult             False
insulin               False
med_change            False
diabetesMed           False
readmitted            False
education              True
currentSmoker         False
cigsPerDay             True
BPMeds                 True
prevalentStroke       False
prevalentHyp          False
TenYearCHD             True
OnAdmit_totChol        True
OnAdmit_sysBP         False
OnAdmit_diaBP         False
OnAdmit_BMI            True
OnAdmit_heartRate      True
dtype: bool

In [28]:
df.rename(columns = {'education':'education'},inplace = True)
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'time_in_hospital', 'payer_code',
       'medical_specialty', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'max_glu_serum', 'OnAdmit_glucose', 'A1Cresult',
       'insulin', 'med_change', 'diabetesMed', 'readmitted', 'education',
       'currentSmoker', 'cigsPerDay', 'BPMeds', 'prevalentStroke',
       'prevalentHyp', 'TenYearCHD', 'OnAdmit_totChol', 'OnAdmit_sysBP',
       'OnAdmit_diaBP', 'OnAdmit_BMI', 'OnAdmit_heartRate'],
      dtype='object')

In [29]:
df['age'].fillna(df.mean())
df['gender'].fillna(df.mean())

<ipython-input-29-6a0d41c30db2>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['age'].fillna(df.mean())
<ipython-input-29-6a0d41c30db2>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['gender'].fillna(df.mean())

0        Female
1          Male
2        Female
3          Male
4        Female
          ...
99254    Female
99255      Male
99256      Male
99257    Female
99258      Male
Name: gender, Length: 99259, dtype: object

In [30]:
dfcolumns = ['age','gender','weight','race']
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,time_in_hospital,payer_code,medical_specialty,...,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,TenYearCHD,OnAdmit_totChol,OnAdmit_sysBP,OnAdmit_diaBP,OnAdmit_BMI,OnAdmit_heartRate
0,23096766,1566414,Caucasian,Female,[0-10),?,1,2,?,Pediatrics-CriticalCare,...,0.0,0.0,0,0,0.0,205.0,112.0,65.0,27.35,79.0
1,106680030,29289861,Caucasian,Male,[20-30),?,5,3,MC,ObstetricsandGynecology,...,0.0,0.0,0,1,NaN,241.0,141.0,90.0,28.00,70.0
2,56966484,28124856,Caucasian,Female,[30-40),?,5,4,?,?,...,0.0,0.0,0,0,NaN,242.0,131.0,88.0,25.00,78.0
3,80187534,23396841,Caucasian,Male,[30-40),?,6,2,?,Family/GeneralPractice,...,20.0,1.0,0,1,1.0,262.0,119.0,89.0,24.00,83.0
4,81369372,28763154,?,Female,[30-40),?,6,4,?,?,...,20.0,0.0,0,0,0.0,222.0,122.0,76.0,24.00,83.0